<div class="tickets-container">
  <h2>My Tickets</h2>
  <a routerLink="create-ticket" class="add-button">
    <i class="fas fa-plus"></i> Create New Ticket
  </a>

  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Description</th>
      <th>Status</th>
      <th>Panne ID</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ticket of tickets">
      <td>{{ ticket.id }}</td>
      <td>{{ ticket.description }}</td>
      <td>{{ ticket.etatTicket }}</td>
      <td>{{ ticket.panneId }}</td>
    </tr>
    </tbody>
  </table>
</div>
