/* Container Styling */
.panne-container {
  padding: 20px;
  background-color: #fbbf24;
  border-radius: 8px;
}

/* Header Styling */
h2 {
  color: #1e3a8a;
  font-size: 24px;
}

/* Search Bar and Select Styling */
.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  flex-wrap: wrap;
}

/* Table Styling */
.mat-elevation-z8 {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.no-results {
  margin-top: 20px;
  color: #e53e3e;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .search-bar {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 20px;
  }
}
